{% extends "home/home.html" %}

{% block content %}
    {% include "home/menu.html" %}
    <div class="col-md-9">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;会员中心</h3>
            </div>
            <div>
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                    {% if errors %}
                        {% for msg in errors %}
                            <div class="alert alert-danger alert-dismissible">
                                {{ msg }}
                            </div>

                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% with ok = get_flashed_messages(category_filter=["ok"]) %}
                    {% if ok %}
                        {% for msg in ok %}
                            <div class="alert alert-success alert-dismissible">
                                {{ msg }}
                            </div>

                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="panel-body">
                <form role="form" method="post">
                    <fieldset>
                        <div class="form-group">
                            <label for="input_oldpwd"><span class="glyphicon glyphicon-lock"></span>&nbsp;{{ form.old_pwd.label }}</label>
{#                            <input id="input_oldpwd" class="form-control" placeholder="旧密码" name="oldpwd"#}
{#                                   type="password" autofocus>#}
                            {{ form.old_pwd }}
                        </div>
                        <div class="col-md-12" id="error_oldpwd"></div>
                        <div class="form-group">
                            <label for="input_newpwd"><span class="glyphicon glyphicon-lock"></span>&nbsp;{{ form.new_pwd.label }}</label>
{#                            <input id="input_newpwd" class="form-control" placeholder="新密码" name="newpwd"#}
{#                                   type="password" autofocus>#}
                            {{ form.new_pwd }}
                        </div>
                        <div class="col-md-12" id="error_newpwd"></div>
{#                        <a href="login.html" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span>&nbsp;修改密码</a>#}
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>


{% endblock %}