{% extends "home/home.html" %}

{% block content %}
    {% include "home/menu.html" %}
    <div class="col-md-9">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;会员中心</h3>
                {% with errors = get_flashed_messages(category_filter=["error"]) %}
                    {% if errors %}
                        {% for msg in errors %}
                            <div class="alert alert-danger alert-dismissible">
                                {{ msg }}
                            </div>

                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% with ok = get_flashed_messages(category_filter=["ok"]) %}
                    {% if ok %}
                        {% for msg in ok %}
                            <div class="alert alert-success alert-dismissible">
                                {{ msg }}
                            </div>

                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            <div class="panel-body">
                <form role="form" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <div class="form-group">
                            <label for="input_name"><span
                                    class="glyphicon glyphicon-user"></span>&nbsp;{{ form.name.label }}</label>
                            {{ form.name(value=session["user"]) }}
                        </div>
                        <div class="col-md-12" id="error_name"></div>
                        <div class="form-group">
                            <label for="input_email"><span
                                    class="glyphicon glyphicon-envelope"></span>&nbsp;{{ form.email.label }}</label>
                            {{ form.email }}
                        </div>
                        <div class="col-md-12" id="error_email"></div>
                        <div class="form-group">
                            <label for="input_phone"><span
                                    class="glyphicon glyphicon-phone"></span>&nbsp;{{ form.phone.label }}</label>
                            {{ form.phone }}
                        </div>
                        <div class="col-md-12" id="error_phone"></div>
                        <div class="form-group">
                            <label for="input_face"><span
                                    class="glyphicon glyphicon-picture"></span>&nbsp;{{ form.face.label }}</label>

                            {#                            <input id="input_face" class="form-control" name="face" type="hidden" autofocus>#}
                            {% if user.face %}
                                <img src="{{ url_for('static',filename='uploadsfiles/users/'+user.face) }}"
                                     class="img-responsive img-rounded" style="width: 100px">
                            {% else %}
                                <img src="holder.js/100x100" class="img-responsive img-rounded">
                            {% endif %}
                            {{ form.face }}
                        </div>
                        <div class="col-md-12" id="error_face"></div>
                        <div class="form-group">
                            <label for="input_info"><span
                                    class="glyphicon glyphicon-edit"></span>&nbsp;{{ form.info.label }}</label>
                            {#                            <textarea class="form-control" rows="10" id="input_info">十年窗下无人问，一举成名天下知</textarea>#}
                            {{ form.info }}
                        </div>
                        <div class="col-md-12" id="error_info"></div>
                        {#                        <a href="user.html" class="btn btn-success"><span class="glyphicon glyphicon-saved"></span>&nbsp;保存修改</a>#}
                        {{ form.csrf_token }}
                        {{ form.submit }}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}